{%extends "menu.html" %}

{% block title %}{{ reg }}{% endblock %}

{% block header %}<h2>{{ reg }}</h2>{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<div align="center">
    <div align="center" class="border">
        <form action="" method="post">

            {{ form.csrf_token() }}

            {% for field in form if field.name != "csrf_token" %}
            <p>{{ field.label() }}</p>
            <p>{{ field }}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}